body{
    background-color: yellow;
    text-align: center;
}
h1{
    text-align: center;
   color: blue;
}
h2{
    text-align: center;
    
}
audio{
    text-align: center;
}
a:hover {
    text-decoration: underline;
}

.especial:hover{
    color: chartreuse;
    background-color: black;
    text-decoration: none;
}

.especial::before{
    content: '>>';
    font-weight:lighter;

}

.especial::after{
    content: '<<';
    font-weight:lighter;

}
